@{
    ViewBag.Title = "Files Page";
}

<div class="jumbotron">
    <h1>Egnyte API test page - files</h1>
    
    <br />
    <br />
    
    @using (Html.BeginForm("ListFiles", "Files", FormMethod.Post))
    {
        <input type="hidden" id="urlhash" />
        <input type="submit" class="btn btn-primary btn-lg" value="List files" />
    }

</div>
