@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Egnyte API test page</h1>
    
    <br />
    <br />
    @using (Html.BeginForm("RequestTokenCode", "Token", FormMethod.Post))
    {
        <input type="submit" class="btn btn-primary btn-lg" value="Get token, code flow" />
    }
    
    <br />
    @using (Html.BeginForm("RequestTokenImplicitGrant", "Token", FormMethod.Post))
    {
        <input type="hidden" id="urlhash" />
        <input type="submit" class="btn btn-primary btn-lg" value="Get token, implicit grant flow" />
    }
    
    <br />
    @using (Html.BeginForm("RequestTokenResourceOwner", "Token", FormMethod.Post))
    {
        <input type="hidden" id="urlhash" />
        <input type="submit" class="btn btn-primary btn-lg" value="Get token, resource owner" />
    }
    
</div>
